.subs {
    font-size: 20px;
    font-weight: 1000;
    color: #ffffff;
    top: -100px;
    z-index: 1;
    position: relative;
    background-color: black;
}

.subsMultiline {
    font-size: 20px;
    font-weight: 1000;
    color: #ffffff;
    top: -120px;
    z-index: 1;
    position: relative;
    background-color: black;
}

.loading_text {
    font-size: 16px;
    font-weight: 1;
    color: #ffffff;
}

.subDiv {
}